.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1, nav{
    text-align: center;
}

nav{
    padding: 10px 0 10px 0;
}

ol, ul{
    list-style-position: inside;
}

p, li, h1, h2, h3, h4, h5, h6, a{
    color: firebrick;
}

img:hover{
    transition: transform 0.5s;
    transform: scale(1.2);
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 20px 5px 20px;
    border-style: double;
    border-width: 5px;
    margin: 5px;
    background-color: gold;
}
nav a:hover{
    transition: background-color 0.5s, box-shadow 0.5s;
    background-color: yellow;
    box-shadow: 5px 5px black;
}

#main, #CP, .product{
    padding: 10px;
    margin: 20px;
    box-shadow: 5px 5px 8px gray;
}

#main:hover, #CP:hover, .product:hover{
    transition: transform 0.3s;
    transform: scale(1.02);
}

.product img:hover{
    transform: scale(1);
}
.buttonCP{
    text-decoration: none;
    background-color: gold;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

.buttonCP:hover{
    transition: background-color 0.5s, box-shadow 0.5s;
    background-color: yellow;
    box-shadow: 2px 2px black;
}

#subNav a{
    background-color: #62d6ff;
    color: black;
}

#subNav a:hover{
    background-color: #a2fcfc;
    box-shadow: 5px 5px black;
    transition: background-color 0.5s, box-shadow 0.5s;
}